@import "./abstracts/variables";

@media only screen and (max-width: 360px) {
  html {
    font-size: 8px;
    body {
      padding: 0rem !important;
      .auth-wrapper {
        flex-direction: column;
        background-color: $neutral-magnolia-color !important;
        .sidebar-container {
          width: 100%;
          height: 18.5%;
          background-image: url(../images/bg-sidebar-mobile.svg);
          ul {
            display: flex;
            justify-content: space-between;
            padding: 2rem 0rem 0rem;
            margin: 0 auto;
            width: 20rem;
            .step-number {
              border-radius: 50%;
            }
            .step-descriprion {
              display: none;
            }
          }
        }
        .right-side-container {
          background-color: $neutral-white-color;
          width: 83% !important;
          height: fit-content !important;
          padding: 3rem 2rem !important;
          margin: -5rem auto;
          border-radius: 1.7rem;
          header {
            margin-bottom: 3rem;
            h1 {
              font-size: 2.5rem;
              margin-bottom: 2rem;
            }
          }
          .first-step-form-wrapper {
            height: 26rem;
            justify-content: space-between;
            .form-field {
              .input-field {
                font-size: 1.4rem;
              }
              .err-msg {
                top: -2.5rem;
              }
              .mat-mdc-form-field-infix {
                padding-top: 1.4rem !important;
                height: 5rem;
              }
            }
            .column-flexed-wrapper .first-step-label {
              margin-bottom: 0.4rem;
              font-size: 1.3rem;
            }
          }
          .btns {
            position: absolute;
            background-color: $neutral-albaster-color;
            bottom: 0rem;
            left: 0rem;
            padding: 2rem;
            height: 4%;
            width: 89%;
            .mat-mdc-raised-button.mat-mdc-button-base {
              width: 11rem;
              height: 3.3rem;
              .mdc-button__label {
                font-size: 1.24rem;
              }
            }
          }
        }
        // second step
        .plans-container {
          gap: 2rem !important;
          .plans-label-container {
            display: flex;
            flex-direction: column;
            gap: 0rem !important;
            .radio-wrapper {
              .radio-label {
                height: 6rem !important ;
                width: 100% !important;
                flex-direction: row;

                img {
                  width: 3.5rem !important;
                  margin: 1rem !important;
                }
                .item-plan {
                  font-size: 1.2rem;
                }

                .yearly-sub-benifits {
                  font-size: 1.4rem;
                }
              }
            }
          }
          .toggle-switch-container {
            width: 100%;
          }
        }
        // Ons

        .ons-wrapper {
          margin-bottom: 3rem !important;

          .ons-label {
            width: 89% !important;
          }
          .ons-spans-wrapper {
            margin-left: 3rem !important;
            .option-name {
              font-size: 1.4rem !important;
            }
            .option-description {
              font-size: 1.2rem !important;
            }

            .additioanl-fees-span {
              font-size: 1.2rem !important;
            }
          }
        }
        .colored-wrapper {
          width: 100% !important;
        }
        .total-cost-wrapper {
          width: 90% !important;
          margin: 2.5rem 0rem 0rem 2rem !important;
        }
        // success msg
        .thanking-msg-wrapper {
          width: 100% !important;
          margin: 8rem 0rem !important;
          img {
            width: 6rem !important;
          }
          h1 {
            margin: 2.5rem 0rem 2rem 0rem !important;
          }
          p {
            font-size: 1.6rem !important;
          }
        }
      }
    }
  }
}
